#footer
    .infobox_midja
        div
            h2.header_infobox
        div.nedrihluti_infobox
    .grima
        asdddd
//    div Copyright &copy; Ninja Store #{+new Date().getFullYear()} 
    a(href='/page?name=about') About 
    | |  
    a(href='/page?name=contact') Contact Us