#navcontainer
		.nav_innricontainer
			.leit
				input(type='text', value='leit', class='userbar_leitarbox')
			Logo
				.notendanafn #{notendanafn}
					span.niduror
				span.skilabodaskjoda Skilaboð
					div.tala_skilabod 1